<div *ngIf="judicialExtracts.length == 0"
        class="d-flex flex-row align-items-center justify-content-center h5"
        style="height:80vh">
            <p>
                No History Available
            </p>
        </div>
<section class="intro p-5" *ngIf="judicialExtracts.length > 0">
    <div class="bg-image py-5">
      <div class="mask d-flex align-items-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class=" bg-white" style="position: relative;">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th scope="col">Status</th>
                      <th scope="col">Governorate</th>
                      <th scope="col">Name</th>
                      <th scope="col">Date of Birth</th>
                      <th scope="col" class="px-1">Convicted</th>
                      <th scope="col" class="px-0">Actions</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let data of judicialExtractData; index as i">
                      <tr>
                        <!-- <td>{{extract.status}}</td> -->
                                <td 
                                [ngStyle]="{color: judicialExtracts[i].status == 'APPROVED'?'Green':'Black'}">
                                  {{judicialExtracts[i].status}} 
                                </td>
                                <td>{{data.governerate}}</td>
                                <td>{{data.fullName}}</td>
                                <td>{{data.dob | date:'dd/MM/yyyy'}}</td>
                                <td class="px-1">{{data.convicted}}</td>
                                
                                <td class="px-0">
                                  <div>
                                    <button mat-raised-button color="warn" *ngIf="judicialExtracts[i].status
                                     == 'PENDING'"
                                    class="mx-2" (click)="onDelete(judicialExtracts[i].id)"
                                    style="font-size: 11px;">Delete</button>
                                    <button mat-raised-button color="primary" 
                                    *ngIf="judicialExtracts[i].status == 'PENDING'"
                                    (click)="onEdit(judicialExtracts[i].id)" style="font-size: 11px;">
                                    Edit</button>
                                </div>
                                </td>
                      </tr>
                </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
