<div class="container pt-5 mt-5">
    <input type="search" name="" id="" placeholder="Search Users by Email..." class="w-50"
    [(ngModel)]="searchValue">
</div>
<section class="intro p-5">
    <div class="bg-image py-5">
      <div class="mask d-flex align-items-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="table-responsive bg-white" style="position: relative;">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Email</th>
                      <th scope="col">FirstName</th>
                      <th scope="col">LastName</th>
                      </tr>
                  </thead>
                  <tbody *ngFor="let user of users">
                      <tr *ngIf="searchValue == '' || user.email.toLowerCase().includes(searchValue)">
                        <!--*ngIf="searchValue == '' || user.email.toLowerCase().includes(searchValue)"-->
                        <td>{{user.id}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                      </tr>
                </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


