<div class="main">
    <div class="container p-5"> 
        <div class="formContainer">
            <form ngNativeValidate #civilExtractForm="ngForm" (ngSubmit)="onSubmit(civilExtractForm)">
                        <div class="text-center">
                            <p class="mb-5 py-2" style="font-size: 30px;">Individual Extract</p>
                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Governorate</mat-label>
                                <mat-select name="governerate" [(ngModel)]="governerate" 
                                (selectionChange)="generateDistricts(1)" required>
                                    <mat-option value="{{governerate}}" *ngFor="let governerate of governerates">
                                        {{governerate}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                            
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>District</mat-label>
                                <mat-select  name="district" id="district" [(ngModel)]="district" required>
                                    <mat-option value="{{district}}" *ngFor="let district of districts">
                                        {{district}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                            
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Name</mat-label>
                                <input matInput type="text" name="fname" id="fname" 
                                pattern="[a-zA-Z][a-zA-Z ]+" [(ngModel)]="fname" required>
                            </mat-form-field>
                        </div>
                        
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Surname</mat-label>
                                <input matInput  type="text" name="surname" id="surname" 
                                pattern="[a-zA-Z][a-zA-Z ]+" [(ngModel)]="surname" required>
                            </mat-form-field>
                        </div>
    
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Father's name</mat-label>
                                <input matInput type="text" name="fathersname" id="fathersname" 
                                pattern="[a-zA-Z][a-zA-Z ]+" [(ngModel)]="fathersname" required>
                            </mat-form-field>
                        </div>
                    
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Mother's name</mat-label>
                                <input matInput type="text" name="mothersname" id="mothersname" 
                                pattern="[a-zA-Z][a-zA-Z ]+" [(ngModel)]="mothersname" required>
                            </mat-form-field>
                        </div>

                        <div class="d-flex justify-content-between" style="width:600px">
                            <mat-form-field style="width:280px" class="mb-3" appearance="outline">
                                <mat-label>Place of Birth</mat-label>
                                <input matInput type="text" name="pob" id="pob"
                                pattern="[a-zA-Z][a-zA-Z ]+" [(ngModel)]="pob" required>
                            </mat-form-field>
                            
                            <mat-form-field style="width:280px" class="mb-3" appearance="outline">
                                <mat-label>Date of Birth</mat-label>
                                <input matInput [matDatepicker]="myDatePicker" name="dob" id="dob" style="width:300px" [(ngModel)]="dob" required>
                                <mat-datepicker-toggle matSuffix [for]="myDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #myDatePicker></mat-datepicker>
                              </mat-form-field>
                               
    
                        </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Sex</mat-label>
                            <mat-select name="sex" [(ngModel)]="sex" required>
                                <mat-option value="Male">Male</mat-option>
                                <mat-option value="Female">Female</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Martial Status</mat-label>
                            <mat-select name="martialStatus" [(ngModel)]="martialStatus" required>
                                <mat-option value="Single">Single</mat-option>
                                <mat-option value="Married">Married</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>              
                    <div class="d-flex justify-content-end" style="width:600px">
                        <div class="d-flex justify-content-around" style="width: 450px;">
                            <button mat-raised-button (click)="onExit()" type="button" color="warn">Exit</button>
                            <button mat-raised-button type="button" (click)="onPrint(civilExtractForm)"
                            [disabled]="!civilExtractForm.form.valid">
                                Print
                            </button>
                            <button mat-raised-button  (click)="onCancel(civilExtractForm)" type="button" color="accent">
                                Cancel
                            </button>
                            <button mat-raised-button (click)="onSave(civilExtractForm)" type="button" 
                            color="primary" 
                            [disabled]="!civilExtractForm.form.valid">Save</button>
                                <button mat-raised-button type="submit" color="primary" 
                                [disabled]="!civilExtractForm.form.valid">Submit</button>
                        </div>   
                    </div>
            </form>
        </div>
    </div>
</div>