/*input, select {
    width:350px;
    height:35px;
    padding:5px 10px;
    font-size: 16px;
    border:1px solid grey;
    border-radius: 5px;
    color:grey;
    margin-top: 0px;
}*/



@media print {
    button {
        display: none;
    }
}

.formContainer {
    padding: 40px;
    width:700px;
    margin: 0px auto;
    background-color: #ffff;
    border-radius: 5px;
}

.main {
    /*background-color: #F2F2F2;*/
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
    padding-top: 100px;
}

mat-form-field {
    width: 600px;
    margin-bottom: 20px;
}



