<div class="main">
    <div class="container p-5"> 
        <div class="formContainer">
            <form ngNativeValidate #civilExtractForm="ngForm" (ngSubmit)="onSubmit(civilExtractForm)">
                    <!-- <div>
                        <p class="mb-2">Civil Extract Number:</p>
                        <input type="text" name="number" id="number" required pattern="[0-9]+">
                    </div> -->
                    
                    <!--<div class="mt-5 col-sm-6">
                            <p class="mb-2">Governorate:</p>
                            <select name="governerate" [(ngModel)]="governerate" 
                            (change)="generateDistricts()" required>
                                <option value="{{governerate}}" *ngFor="let governerate of governerates">
                                    {{governerate}}
                                </option>
                            </select>  
                        </div>-->
                        <div class="text-center">
                            <p class="mb-5 py-2" style="font-size: 30px;">Individual Extract</p>
                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Governorate</mat-label>
                                <mat-select name="governerate" [(ngModel)]="governerate" 
                                (selectionChange)="generateDistricts(1)" required>
                                    <mat-option value="{{governerate}}" *ngFor="let governerate of governerates">
                                        {{governerate}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                            
                        <!--<div class="mt-5 col-sm-6">
                            <p class="mb-2">District:</p>
                            <select name="district" id="district" [(ngModel)]="district" required>
                                <option value="{{district}}" *ngFor="let district of districts">
                                    {{district}}
                                </option>
                            </select>  
                        </div>-->
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>District</mat-label>
                                <mat-select  name="district" id="district" [(ngModel)]="district" required>
                                    <mat-option value="{{district}}" *ngFor="let district of districts">
                                        {{district}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                            
                    
    
                    
                        <!--<div class="mt-5 col-sm-4">
                            <p class="mb-2">Name:</p>
                            <input type="text" name="fname" id="fname" style="width:300px" 
                             pattern="[a-zA-Z][a-zA-Z ]+" [(ngModel)]="fname" required>
                        </div>-->
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Name</mat-label>
                                <input matInput type="text" name="fname" id="fname" 
                                pattern="[a-zA-Z][a-zA-Z ]+" [(ngModel)]="fname" required>
                            </mat-form-field>
                        </div>
                        <!--<div class="mt-5 col-sm-4">
                            <p class="mb-2">Surname:</p>
                            <input type="text" name="surname" id="surname" style="width:300px" 
                            pattern="[a-zA-Z][a-zA-Z ]+" [(ngModel)]="surname" required>
                        </div>-->
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Surname</mat-label>
                                <input matInput  type="text" name="surname" id="surname" 
                                pattern="[a-zA-Z][a-zA-Z ]+" [(ngModel)]="surname" required>
                            </mat-form-field>
                        </div>
                        
                        <!--<div class="mt-5 col-sm-4">
                            <p class="mb-2">Father's name:</p>
                            <input type="text" name="fathersname" id="fathersname" style="width:300px" 
                            pattern="[a-zA-Z][a-zA-Z ]+" [(ngModel)]="fathersname" required>
                        </div>-->
    
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Father's name</mat-label>
                                <input matInput type="text" name="fathersname" id="fathersname" 
                                pattern="[a-zA-Z][a-zA-Z ]+" [(ngModel)]="fathersname" required>
                            </mat-form-field>
                        </div>
                    
    
                        <!--<div class="mt-5 col-sm-4">
                            <p class="mb-2">Mother's name:</p>
                            <input type="text" name="mothersname" id="mothersname" style="width:300px" 
                            pattern="[a-zA-Z][a-zA-Z ]+" [(ngModel)]="mothersname" required>
                        </div>-->
    
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Mother's name</mat-label>
                                <input matInput type="text" name="mothersname" id="mothersname" 
                                pattern="[a-zA-Z][a-zA-Z ]+" [(ngModel)]="mothersname" required>
                            </mat-form-field>
                        </div>
                    
    
                        <!--<div class="mt-5 col-sm-4">
                            <p class="mb-2">Place of Birth:</p>
                            <input type="text" name="pob" id="pob" style="width:300px"
                            pattern="[a-zA-Z][a-zA-Z ]+" [(ngModel)]="pob" required>
                        </div>-->
    
                        <div class="d-flex justify-content-between" style="width:600px">
                            <mat-form-field style="width:280px" class="mb-3" appearance="outline">
                                <mat-label>Place of Birth</mat-label>
                                <input matInput type="text" name="pob" id="pob"
                                pattern="[a-zA-Z][a-zA-Z ]+" [(ngModel)]="pob" required>
                            </mat-form-field>
                            
                            <mat-form-field style="width:280px" class="mb-3" appearance="outline">
                                <mat-label>Date of Birth</mat-label>
                                <input matInput [matDatepicker]="myDatePicker" name="dob" id="dob" style="width:300px" [(ngModel)]="dob" required>
                                <mat-datepicker-toggle matSuffix [for]="myDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #myDatePicker></mat-datepicker>
                              </mat-form-field>
                               
    
                        </div>
    
                        <!-- <div class="mt-5 col-sm-4">
                            <p class="mb-2">Date of Birth:</p>
                            <input type="date" name="dob" id="dob" style="width:300px" [(ngModel)]="dob" 
                            required>
                        </div> -->
                    
                    
                    
                     <!--<div class="mt-5 col-sm-4">
                        <p class="mb-2">Sex:</p>
                        <select name="sex" style="width: 300px;" [(ngModel)]="sex" required>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>    
                    </div>-->
    
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Sex</mat-label>
                            <mat-select name="sex" [(ngModel)]="sex" required>
                                <mat-option value="Male">Male</mat-option>
                                <mat-option value="Female">Female</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Martial Status</mat-label>
                            <mat-select name="martialStatus" [(ngModel)]="martialStatus" required>
                                <mat-option value="Single">Single</mat-option>
                                <mat-option value="Married">Married</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    
                    <!--<div class="mt-5 col-sm-4">
                        <p class="mb-2">Martial Status:</p>
                        <select name="martialStatus" style="width: 300px;" [(ngModel)]="martialStatus" required>
                            <option value="Single">Single</option>
                            <option value="Married">Married</option>
                        </select>
                    </div>-->
                    
                    <div class="d-flex justify-content-end" style="width:600px">
                        <div class="d-flex justify-content-around" style="width: 450px;">
                            <!-- <button class="btn btn-danger" (click)="onExit()" type="button">Exit</button> -->
                            <button mat-raised-button (click)="onExit()" type="button" color="warn">Exit</button>
                            <!-- <button class="btn btn-secondary" type="button" (click)="onPrint(civilExtractForm)">
                                Print
                            </button> -->
                            <button mat-raised-button type="button" (click)="onPrint(civilExtractForm)"
                            [disabled]="!civilExtractForm.form.valid">
                                Print
                            </button>
                            <!-- <button class="btn btn-primary" (click)="onCancel(civilExtractForm)" type="button">
                                Cancel
                            </button> -->
                            <button mat-raised-button  (click)="onCancel(civilExtractForm)" type="button" color="accent">
                                Cancel
                            </button>
                            <!-- <button class="btn btn-primary" (click)="onSave(civilExtractForm)" type="button"
                            [disabled]="!civilExtractForm.form.valid">
                                Save
                            </button> -->
                            <button mat-raised-button (click)="onSave(civilExtractForm)" type="button" 
                            color="primary" 
                            [disabled]="!civilExtractForm.form.valid">Save</button>
                            <!-- <button class="btn btn-primary" type="submit" [disabled]="!civilExtractForm.form.valid">
                                Submit</button> -->
                                <button mat-raised-button type="submit" color="primary" 
                                [disabled]="!civilExtractForm.form.valid">Submit</button>
                        </div>   
                    </div>
            </form>
        </div>
    </div>
</div>