<div class="container py-5">
    <form ngNativeValidate (submit)="submitForm($event)">
        <div class="mb-3">
            <p class="mb-2 lead">Upload your Judicial Extract file here:</p>
            <input class="form-control" type="file" id="formFile" style="width:400px;"
            required #fileInput>
        </div>
        <div class="d-flex justify-content-end mt-2" style="width: 400px;">
            <button class="btn btn-danger mx-3" type="button" (click)="onExit()">Exit</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    
</div>