<div *ngIf="civilExtracts.length == 0"
        class="d-flex flex-row align-items-center justify-content-center h5"
        style="height:80vh">
            <p>
                No History Available
            </p>
        </div>

<section class="intro p-5" *ngIf="civilExtracts.length > 0">
    <div class="bg-image py-5">
      <div class="mask d-flex align-items-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="bg-white" style="position: relative;">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Status</th>
                      <th scope="col">Governorate</th>
                      <th scope="col">Name</th>
                      <th scope="col">Surname</th>
                      <th scope="col">Date of Birth</th>
                      
                      <th scope="col">Actions</th>
                      </tr>
                  </thead>
                  <tbody *ngFor="let data of civilExtractData; index as i">
                      <tr>
                        <!-- <td>{{extract.status}}</td> -->
                                <td [ngStyle]="{color: civilExtracts[i].status == 'APPROVED'?'Green':'Black'}">
                                  {{civilExtracts[i].status}}
                                </td>
                                <td>{{data.governerate}}</td>
                                
                                <td>{{data.fname}}</td>
                                <td>{{data.surname}}</td>
                                <td>{{data.dob | date:'dd/MM/yyyy'}}</td>
                                
                                
                                <td>
                                  <div>
                                    <button mat-raised-button color="warn" *ngIf="civilExtracts[i].status
                                     == 'PENDING'"
                                    class="mx-2" (click)="onDelete(civilExtracts[i].id)" style="font-size: 11px;">Delete</button>
                                    
                                    <button mat-raised-button color="primary" 
                                    *ngIf="civilExtracts[i].status == 'PENDING'"
                                    (click)="onEdit(civilExtracts[i].id)" style="font-size: 11px;">Edit</button>
                                </div>
                                </td>
                      </tr>
                </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


