<!-- <div class="d-flex justify-content-end p-5">
  <button class="btn btn-danger" (click)="logOut()">Log out</button>

</div>
<div class="container p-3">
    <div class="text-center">
        <h1>Available Services</h1>
    </div>
        <div class="row mt-5">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Civil Extract</h5>
                  <p class="card-text">Fill an online Civil Extract form.</p>
                  <div>
                    <a href="civilextractform" class="btn btn-primary">Fill E-Form</a>
                    <a href="civilextractdocument" class="btn btn-primary mx-3">Upload Document</a>
                    <a href="historyCivil" class="btn btn-primary">View history</a>  
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Judicial Extract of Records</h5>
                  <p class="card-text">Fill an online Judicial Extract of Records form.</p>
                  <div>
                    <a href="judicialextractform" class="btn btn-primary">Fill E-Form</a>
                    <a href="judicialextractdocument" class="btn btn-primary mx-3">Upload document</a>
                    <a href="historyJudicial" class="btn btn-primary">View History</a>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
</div> -->

<mat-menu #appMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="civilSubMenu">Civil Extract</button>
  <button mat-menu-item [matMenuTriggerFor]="judicialSubMenu">Judicial Extract</button>
  <button mat-menu-item (click)="logOut()">Logout</button>
</mat-menu>
<button mat-flat-button [matMenuTriggerFor]="appMenu"><mat-icon>menu</mat-icon>Menu</button>

<mat-menu #civilSubMenu="matMenu" >
  <button mat-menu-item (click)="onFillEform('civilextractform')">Fill e-form</button>
  <button mat-menu-item (click)="onUploadDocument('civilextractdocument')">Upload document</button>
  <button mat-menu-item (click)="onViewHistory('historyCivil')">View history</button>
</mat-menu>

<mat-menu #judicialSubMenu="matMenu" >
  <button mat-menu-item (click)="onFillEform('judicialextractform')">Fill e-form</button>
  <button mat-menu-item (click)="onUploadDocument('judicialextractdocument')">Upload document</button>
  <button mat-menu-item (click)="onViewHistory('historyJudicial')">View history</button>
</mat-menu>