<div class="main">
    <div class="formContainer">
        <form ngNativeValidate (submit)="submitForm($event)">
            <div class="mb-3">
                <p class="mb-2 lead">Upload your Civil Extract file here:</p>
                <input class="form-control" type="file" id="formFile" style="width:400px;"
                required #fileInput>
            </div>
            <div class="d-flex justify-content-end mt-2" style="width: 400px;">
                
                <button mat-raised-button (click)="onExit()" type="button" color="warn"
                class="mx-3">Exit</button>
                <button mat-raised-button type="submit" color="primary">Submit</button>
            </div>
        </form>
        
    </div>
</div>
