<div class="main">
    <div class="container p-5">        
        <div class="formContainer">
            <form #judicialForm="ngForm" ngNativeValidate (ngSubmit)="onSubmit(judicialForm)"> 
                    
                        <div class="text-center">
                            <p class="mb-5 py-2" style="font-size: 30px;">Judicial Extract</p>
                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Governorate</mat-label>
                                <mat-select name="governerate" [(ngModel)]="governerate" 
                                (selectionChange)="generateDistricts(1)" required>
                                    <mat-option value="{{governerate}}" *ngFor="let governerate of governerates">
                                        {{governerate}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
    
                       
                    
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>District</mat-label>
                                <mat-select  name="district" id="district" [(ngModel)]="district" required>
                                    <mat-option value="{{district}}" *ngFor="let district of districts">
                                        {{district}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
    
                    
    
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Full Name</mat-label>
                                <input matInput type="text" name="fullName" id="fullName" [(ngModel)]="fullName"
                                required
                               pattern="[a-zA-Z][a-zA-Z ]+">
                            </mat-form-field>
                        </div>
    
    
    
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Father's Name</mat-label>
                                <input matInput type="text" name="fathersname" id="fathersname" style="width:300px" 
                                [(ngModel)]="fathersname"
                                required
                                pattern="[a-zA-Z][a-zA-Z ]+">
                            </mat-form-field>
                        </div>
    
    
                       
                    
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Mother's Name</mat-label>
                                <input matInput type="text" name="mothersname" id="mothersname" style="width:300px" 
                                [(ngModel)]="mothersname" 
                                required
                                pattern="[a-zA-Z][a-zA-Z ]+">
                            </mat-form-field>
                        </div>
    
                        <div class="d-flex justify-content-between" style="width:600px">
                            <mat-form-field style="width:280px" class="mb-3" appearance="outline">
                                <mat-label>Place of Birth</mat-label>
                                <input matInput type="text" name="pob" id="pob" [(ngModel)]="pob" required
                                pattern="[a-zA-Z][a-zA-Z ]+">
                            </mat-form-field>
                            
                            <mat-form-field style="width:280px" class="mb-3" appearance="outline">
                                <mat-label>Date of Birth</mat-label>
                                <input matInput [matDatepicker]="myDatePicker" name="dob" id="dob" style="width:300px" [(ngModel)]="dob" required>
                                <mat-datepicker-toggle matSuffix [for]="myDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #myDatePicker></mat-datepicker>
                              </mat-form-field>
                               
    
                        </div>
                    
                    
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Sex</mat-label>
                            <mat-select name="sex" [(ngModel)]="sex" required>
                                <mat-option value="Male">Male</mat-option>
                                <mat-option value="Female">Female</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
    
                        <div class="d-flex justify-content-between" style="width:600px">
                            <div>
                                <mat-form-field style="width:280px" class="mb-3" appearance="outline">
                                    <mat-label>Convicted?</mat-label>
                                    <mat-select name="convicted" id="convicted" 
                                    [(ngModel)]="convicted" required>
                                        <mat-option value="Yes">Yes</mat-option>
                                        <mat-option value="No" selected>No</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div *ngIf="convicted == 'Yes'">
                                <mat-form-field style="width:280px" class="mb-3" appearance="outline">
                                    <mat-label>Conviction</mat-label>
                                    <mat-select name="convictionType" id="convictionType" [(ngModel)]="convictionType" 
                                    required>
                                        <mat-option value="Felony">Felony</mat-option>
                                        <mat-option value="Misdemeanor" selected>Misdemeanor</mat-option>
                                        <mat-option value="Infraction" selected>Infraction</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            
                            
                        </div>
                    
                    <div class="d-flex justify-content-end mt-5" style="width:600px">
                        <div class="d-flex justify-content-around" style="width:450px;">
                            <button mat-raised-button (click)="onExit()" type="button" color="warn">Exit</button>
                            <button mat-raised-button type="button" (click)="onPrint(judicialForm)"
                            [disabled]="!judicialForm.form.valid">
                                Print
                            </button>
    
                            <button mat-raised-button  (click)="onCancel(judicialForm)" type="button" color="accent">
                                Cancel
                            </button>
                            <button mat-raised-button type="button" (click)="onSave(judicialForm)"
                            [disabled]="!judicialForm.form.valid" color="primary">Save</button>
    
                            
                            <button mat-raised-button type="submit" color="primary" 
                                [disabled]="!judicialForm.form.valid">Submit</button>
                        </div>   
                    </div>
            </form>
        </div>
    </div>
</div>
